@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body{
  height: 100vh;
}

footer{
  background-color:rgb(150, 61, 233);
  width: 100%;
  height: 5rem;

}

.developedby{
  display: flex;
  flex-direction: row;
  justify-content:center;
align-items: center;
margin-right: 5%;
margin-left: 5%;
}

a{
padding:2%  0.5% 0.3% 0;
color:black;
font-weight:bolder;

text-decoration: none;
font-size: 19px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.colorchange:hover{
color: white;
}

.pass_inst{
  color: purple;
  margin-top: 5px;
  font-size: 14px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  background-color: rgb(247, 239, 247);
  border: solid 1px rgb(128, 0, 128);
  border-radius: 10px;
  padding: 15px;
}

.pass_inst ul{
  list-style-type:none;
  padding:5px 0 0 10px ;
  font-size: 13px;
}



@media (max-width:650px) {
  .developedby{
    display: flex;
    flex-direction:column;
    justify-content:center;
  align-items: center;
  margin-left: 5%;
margin-right: 5%;
}

a{
  font-size: 16px;
}
}
